body{
  font-family: sans-serif;
  background-color:#C1FCC7;


}

h3{
    text-align: center;
}

img{
    height: 200px;
}

h1{
    text-align: center;
}

footer p{
    text-align: center;
}

p{
    font-size: 20px;
}

